@import url('normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

:root {
	/* colors */
	--margin-clr: #C5E4E7;
	--primary-clr: white;
	--secondary-clr: #00474b;
	--tertiary-clr: #27c2ae;
	--quaternar-clr: #9ebbbd;
	--quinary-clr: #5e7a7d;
	--senary-clr: #f3f9fa;
	--outline-invalid: #E17052;

	/* font variations */
	--font: 'Space Mono', monospace;
	--font-w-reg: 400;
	--font-w-bold: 700;
}

* {
	font-family: var(--font);
}


body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 100vh;
	background: var(--margin-clr);
	width: 100vw;
	text-align: center;
}

header > h1 {
	margin-inline: auto;
	margin-block: 2rem;
	letter-spacing: 1ch;
	text-align: center;
	color: var(--quinary-clr);
}

main {
	display: flex;
	flex-wrap: wrap;
	margin-inline: auto;
	width: 920px;
	height: 481px;
	border-radius: 25px;
	background: var(--primary-clr);
}

.input {
	margin: auto;
	width: 379px;
	height: 388px;
	text-align: left;
	font-size: 16px;
}

.input-section {
	margin-top: 2rem;
	color: var(--quinary-clr);
}

.input-section > h2 {
	font-size: 16px;
	margin-bottom: .5em;
}

.input-section:first-child {
	margin-top: 0;
}

/* number input styling */
.input-section > form {
	display: flex;
}

/* number input and label formatting */
.input-form > label {
	position: relative;
	left: 1rem;
	top: 1rem;
}

.input-form > input {
	margin-left: -.8rem;
	padding-inline: 1rem;
	height: 48px;
	width: 100%;
	text-align: right;
	font-size: 24px;
	font-weight: 700;
	color: var(--secondary-clr);
	border: 0;
	border-radius: 5px;
	background: var(--senary-clr);
}

.input-form > input::placeholder {
	color: var(--quaternar-clr);
}

.input-outline {
	outline: 0;
}

.input-outline:focus {
	box-shadow: 0 0 0 2px var(--tertiary-clr);
}

.input-outline:invalid {
	box-shadow: 0 0 0 2px var(--outline-invalid);
}

#zero {
	float: right;
	text-align: right;
	color: var(--outline-invalid);
	font-size: 13px;
	font-weight: --font-w-reg;
}

/* removes number arrows */
.no-arrows::-webkit-outer-spin-button,
.no-arrows::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

.no-arrows[type=number] {
	-moz-appearance: textfield;
}

/* tip btn group */
.select-tip-btn-group {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-between;
	margin-block: 1em;
	height: 112px;
	width: 100%;
}

.btn {
	width: 117px;
	height: 48px;
	text-align: center;
	font-size: 24px;
	font-weight: 700;
	color: var(--primary-clr);
	border: none;
	border-radius: 5px;
	background: var(--secondary-clr);
}

#custom-tip {
	width: 117px;
	height: 48px;
	padding: 0;
	color: var(--quinary-clr);
	background: var(--senary-clr);
}


#custom-tip::placeholder {
	color: var(--quinary-clr);
}

.btn-selected, .btn:hover, #custom-tip:hover {
	background: var(--tertiary-clr);
}

/* results section */
.result {
	display: flex;
	flex-basis: 413px;
	margin: auto;
	height: 417px;
	width: 413px;
	color: var(--primary-clr);
	border-radius: 25px;
	background: var(--secondary-clr);
}

.result-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 337px;
	margin: auto;
}

.result-section {
	display: flex;
	justify-content: space-between;
	width: 333px;
	height: 71px;
}

.result-section > div {
	flex-grow: 0;
	flex-shrink: 0;
}

.result-section > div > h2 {
	font-size: 16px;
	margin-top: 1rem;
	margin-bottom: .5rem;

}

.result-section > div > p {
	color: var(--quaternar-clr);
	margin-block: 0;
	font-size: 13px;
	font-weight: var(--font-w-bold);
}

.result-form {
	display: flex;
	justify-content: flex-end;
	min-width: 0;
}

.result-form > label {
	display: none;
}

.result-form > input {
	min-width: 0;
	text-align: right;
	font-size: 48px;
	font-weight: var(--font-w-bold);
	color: var(--tertiary-clr);
	border: none;
	background: var(--secondary-clr);
}

.result-form > input::placeholder {
	color: var(--tertiary-clr);
}

.result-form > input::placeholder {
	color: var(--result-out-txtColor);
}

#btn-reset {
	background: var(--tertiary-clr);
	color: var(--secondary-clr);
	margin-inline: auto;
	width: 333px;
	height: 48px;
}

/* from frontend mentor */
.attribution {
	font-size: 11px;
	text-align: center;
	margin-block: 1rem;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}


@media screen and (max-width: 834px) {
	main {
		flex-direction: column;
		width: 100%;
		height: fit-content;
		padding-top: 1rem;
		padding-bottom: 2rem;
	}

	.input {
		max-width: 90%;
		height: 436px;
		margin-bottom: 4rem;
	}

	.select-tip-btn-group {
		margin-inline: auto;
		gap: 1.5em;
		height: 176px;
	}

	.btn {
		flex-grow: 1;
		height: 48px;
		width: 147px;
	}

	#custom-tip {
		height: 48px;
		width: 147px;
	}
	.result {
		max-width: 90%;
		max-height: fit-content;
	}

	.result-container {
		max-height: fit-content;
		padding-block: 2em;

	}

	.result-container > div {
		margin-inline: auto;
		width: 281px;
	}

	.result-section {
		width: 281px;
		height: fit-content;
		margin-bottom: 2em;
	}

	.result-form > input {
		font-size: 32px;
	}

	#btn-reset {
		margin-top: .5em;
		width: 100%;
		max-height: 48px;
	}
}